/* -------------------------- */
/* -------- Couleurs -------- */
/* -------------------------- */

$col-primaire: #544f57;
$col-secondaire: #69D8E4;
$col-tertiaire: #9BB9C1;
$col-bleu-second: #02B0CC;
$col-blanc: #F1F4F6;