/* -------------------------- */
/* -------- Couleurs -------- */
/* -------------------------- */

$col-primaire: #544f57;
$col-secondaire: #69D8E4;
$col-tertiaire: #9BB9C1;
$col-quaternaire: #02B0CC;
